html {
    image-rendering: pixelated;
    background-color: black;
    color: aliceblue;
}

aside {
    background-image: url('/theme/block/purplegem.png');
    background-repeat: repeat;
    background-size: 64px 64px;

    height: 64px;
}

main {
    background-image: url('/theme/block/darkslate.png');
    background-repeat: repeat;
    background-size: 64px 64px;

    width: 12in;

    min-height: calc(100vh - 64px);
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    background-image: url('/theme/block/stone.png');
    background-repeat: repeat;
    background-size: 64px 64px;
}

@media (prefers-color-scheme: light) { 

    html {
        background-color: aliceblue;
        color: black;
    }

    aside {
        background-image: url('/theme/block/pinkwood.png');
    }

    main {
        background-image: url('/theme/block/whiteplank.png');
    }

    .main-container {
        background-image: url('/theme/block/graybark.png');
    }

}