/* This is to indicate that 88x31 is the current page, WITH NO JS!!!! */

#pxbtn {
    background: var(--panel-li-background-pressed);
}

#pxbtn .panel-li-foreground {
    margin-right: 0.6rem;
    background: var(--panel-li-foreground-pressed);
}