/* This is to indicate that home page is the current page, WITH NO JS!!!! */

#index {
    background: var(--panel-li-background-pressed);
}

#index .panel-li-foreground {
    margin-right: 0.6rem;
    background: var(--panel-li-foreground-pressed);
}

/*Special padding for index top because it looks better*/
main {padding-top: 1px !important;}