:root {
    --bg-html: #5b4a75;
    --bg-image-size: 176px;
    --bg-blend: normal;

    --font-family: 'DejaVu Sans', sans-serif, system-ui;
    --line-height: normal;

    --fg-color: #8972a1;
    --fg-filter: none;
    --fg-border-width: 5px;
    --fg-border-left-style: var(--fg-border-width) solid #775f94;
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-offset: 0px;
    --hr-color: var(--secondary-main);

    --primary-below: #6960a3;
    --primary-main: #847ebd;
    --primary-above: #9fa2d7;

    --secondary-below: #b35996;
    --secondary-main: #c977a4;
    --secondary-above: #e596bb;
    
    --text-color: #e1faf7;
    --text-shadow: 1px 1px 2px var(--secondary-below);
    --link-color: var(--secondary-above);
    --link-text-shadow: 1px 1px 2px var(--text-shadow);
    --panel-li-text-shadow: var(--text-shadow);

    --panel-background: #453651;
    /* BG */
    --panel-li-background: var(--primary-below);
    --panel-li-background-hover: var(--panel-li-background);
    --panel-li-background-pressed: var(--primary-below);
    --panel-li-background-filter: none;
    --panel-li-background-blend: normal;
    /* FG */
    --panel-li-foreground: var(--primary-main);
    --panel-li-foreground-hover: var(--panel-li-foreground);
    --panel-li-foreground-pressed: var(--panel-li-foreground);
    --panel-li-foreground-filter: none;
    /* OL */
    --panel-li-overlay: none;
    --panel-li-overlay-repeat: repeat;
    --panel-li-overlay-mix: normal;
    --panel-li-overlay-animation: none;
}

:root:has(#dyslexicfont:checked) {
    --font-family: 'OpenDyslexic', system-ui;
    --line-height: 1.19;
}

:root:has(#violet:checked) {
    --bg-image: none;
    --bg-html: #5b4a75;
    --bg-image-size: 0px;

    --fg-color: #8972a1;
    --fg-filter: none;
    --fg-border-width: 5px;
    --fg-border-left-style: var(--fg-border-width) solid #775f94;
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: none;
    --outline-offset: 0;
    --hr-color: #775f94aa;

    --primary-below: #6960a3;
    --primary-main: #847ebd;
    --primary-above: #9fa2d7;

    --secondary-below: #b35996;
    --secondary-main: #c977a4;
    --secondary-above: #e596bb;
    
    --text-color: #f2f1f3;
    --text-shadow: 1px 1px 2px var(--secondary-below);
    --link-color: var(--secondary-above);
    --link-text-shadow: var(--text-shadow);

    --selection-bg-color: var(--secondary-above);
    --selection-text-color: var(--text-color);
    --selection-text-shadow: 1px 1px 2px var(--primary-below);
    --selection-link-text-color: var(--primary-below);

    --panel-background: #443156;
    /* BG */
    --panel-li-background: var(--primary-below);
    --panel-li-background-hover: var(--panel-li-background);
    --panel-li-background-pressed: var(--primary-below);
    --panel-li-background-filter: none;
    /* FG */
    --panel-li-foreground: var(--primary-main);
    --panel-li-foreground-hover: var(--panel-li-foreground);
    --panel-li-foreground-pressed: var(--panel-li-foreground);
    --panel-li-foreground-filter: none;
}

:root:has(#spacetiles:checked) {
    --bg-image: url("/theme/space/SpaceBricksIsoTile.gif");
    --bg-html: rgb(39, 68, 140);
    --bg-image-size: 176px;

    --fg-color: rgba(29, 44, 128, 0.95);
    --fg-filter: blur(2px);
    --fg-border-left-style: 5px solid var(--secondary-main);
    
    --fg-border-width: 5px;
    --fg-border-left-style: var(--fg-border-width) solid var(--secondary-main);
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: solid 2.5px var(--secondary-above);
    --outline-offset: 1px;

    --primary-below: #208ba8;
    --primary-main: #44bdbd;
    --primary-above: #84f5e6;

    --secondary-below: #b02e71;
    --secondary-main: #f26f9f;
    --secondary-above: #faafca;

    --text-color: #e1faf7;
    --link-color: var(--secondary-main);

    --selection-bg-color: var(--secondary-main);
    --selection-text-color: var(--text-color);
    --selection-text-shadow: 1px 1px 2px var(--secondary-below);
    --selection-link-text-color: var(--primary-main);

    --panel-background: rgb(29, 44, 128);
    --panel-li-background: var(--secondary-main);
    --panel-li-background-pressed: var(--secondary-below);
    --panel-li-background-filter: drop-shadow(-0.08rem 0.08rem 0.15rem rgb(234, 15, 70)) drop-shadow(0.08rem -0.08rem 0.15rem rgb(15, 38, 241));

    --panel-li-foreground: var(--primary-main);
    --panel-li-foreground-hover: var(--panel-li-foreground);
    --panel-li-foreground-pressed: var(--panel-li-foreground);
    --panel-li-foreground-filter: none;

    --panel-li-overlay: url(/theme/space/SpaceLines.png);
    --panel-li-overlay-repeat: repeat;
    --panel-li-overlay-mix: hard-light;
    --panel-li-overlay-animation: panel-li-overlay-scroll 7s linear infinite;
}

:root:has(#queertiles:checked) {
    --bg-image: linear-gradient(to bottom right, #e15141ff 0% 17%, #fa9d33ff 17% 33%, #ffe70aff 33% 50%, #4bc02aff 50% 66%, #5147d1ff 66% 83%, #931dd3ff 83% 100%), radial-gradient(circle farthest-corner at 50% 50%, #edededff 0%, #474747ff 100%);
    --bg-image-size: 100vw;
    --bg-html: #ffffff;
    --bg-blend: multiply;

    --fg-color: rgba(0, 0, 0, 0.285);
    --fg-filter: blur(2px);
    --fg-border-width: 2px;
    --fg-border-left-style: var(--fg-border-width) solid #0d041280;  /*--primary-below with translucency*/
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: none;
    --outline-offset: 0;
    --hr-color: #e1faf7a3; /*--text-color with translucency*/

    --primary-below: #0d0412;
    --primary-main: #1b0f30;
    --primary-above: #221c4a;

    --secondary-below: #3b75cc;
    --secondary-main: #4eb0e6;
    --secondary-above: #6ec2f0;

    --selection-bg-color: var(--secondary-below);
    --selection-text-color: var(--text-color);
    --selection-text-shadow: 1px 1px 2px var(--primary-below);
    --selection-link-text-color: var(--primary-above);

    --text-color: #f4f5f3;
    --text-shadow: 1px 1px 0.1rem rgb(4, 3, 23), -1px -1px 0.1rem rgb(4, 3, 23), 1px -1px 0.1rem rgb(4, 3, 23), -1px 1px 0.1rem rgb(4, 3, 23);
    --link-color: var(--secondary-main);
    --link-text-shadow: var(--text-shadow);

    --panel-background: rgba(0, 0, 0, 0.285);
    --panel-li-background: linear-gradient(90deg, #63b7d6ff 0% 20%, #db93b5ff 20% 40%, #f7f0ebff 40% 60%, #db93b5ff 60% 80%, #63b7d6ff 80% 100%), radial-gradient(circle farthest-corner at 50% 50%, #00000000 0%, #dededeff 100%);
    --panel-li-background-pressed: linear-gradient(90deg, #63b7d6ff 0% 20%, #db93b5ff 20% 40%, #f7f0ebff 40% 60%, #db93b5ff 60% 80%, #63b7d6ff 80% 100%), radial-gradient(circle farthest-corner at 50% 50%, #00000000 0%, #91909dff 100%);
    --panel-li-background-hover: var(--panel-li-background-pressed);
    --panel-li-background-filter: drop-shadow(-0.02rem 0.02rem 0.05rem #1c3f7a) drop-shadow(0.02rem -0.02rem 0.05rem #1c3f7a);
    --panel-li-background-blend: multiply;
    --panel-li-foreground: #ffffff00; /* Intentionally 100% transparent */
}

:root:has(#frutigeraero:checked) {
    --bg-image: url("/theme/frutiger-aero/frutiger-aero-background-img/frutiger-aero-background-img.webp");
    --bg-html: linear-gradient(0deg,rgba(39, 116, 244, 1) 0%, rgba(119, 196, 244, 1) 25%, rgba(118, 227, 255, 1) 40%, rgba(138, 231, 255, 1) 50%, rgba(118, 227, 255, 1) 60%, rgba(119, 196, 244, 1) 75%, rgba(39, 116, 244, 1) 100%);
    --bg-image-size: cover;

    --fg-color: rgba(3, 20, 49, 0.228);
    --fg-filter: blur(2px);
    --fg-border-width: 2px;
    --fg-border-left-style: var(--fg-border-width) solid #1661ab73;
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: none;
    --outline-offset: 0;
    --hr-color: #d6f7ff;

    --primary-below: #040b39;
    --primary-main: #11195e;
    --primary-above: #1f2d78;

    --secondary-below: #1661ab;
    --secondary-main: #2084ba;
    --secondary-above: #33a8d6;

    --text-color: #d6f7ff;
    --text-shadow: -1px 1px 0.1rem var(--primary-below);
    --link-color: var(--secondary-above);
    --link-text-shadow: -1px 1px 0.1rem var(--primary-below);

    --selection-bg-color: var(--secondary-main);
    --selection-text-color: var(--text-color);
    --selection-text-shadow: 1px 1px 2px var(--primary-below);
    --selection-link-text-color: var(--primary-main);
    --selection-link-text-shadow: var(--link-text-shadow);

    --panel-background: rgba(3, 20, 49, 0.228);
    --panel-li-foreground: linear-gradient(0deg,#33a8d6 0%, #2084ba 22%, #1661ab 46%, #1b72b2 52%, #33a8d6 74%, #4bc3f2 97%);
    --panel-li-foreground-hover: var(--panel-li-background-pressed);
    --panel-li-foreground-pressed: var(--panel-li-background-pressed);
    
    --panel-li-background: var(--panel-li-foreground);
    --panel-li-background-filter: drop-shadow(-0.02rem 0.02rem 0.05rem #094480) drop-shadow(0.02rem -0.02rem 0.05rem #094480);
    --panel-li-background-pressed: linear-gradient(0deg,#2084ba 0%, #1661ab 22%, #0b4a89 46%, #115e96 52%, #2084ba 74%, #33a8d6 97%);
    --panel-li-background-hover: var(--panel-li-background-pressed);
}

#use-regular {
    font-family: 'DejaVu Sans', sans-serif, system-ui !important;
    line-height: normal !important;
}

#use-dyslexic {
    font-family: 'OpenDyslexic', system-ui !important;
    line-height: 1.4 !important;
}

/* Screen Reader Only */
.sr-only {
    height: 0px; width: 0px;
    position: absolute;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

html {
    position: relative;
    background: var(--bg-html);
    background-image: var(--bg-image);
    background-size: var(--bg-image-size);
    background-blend-mode:var(--bg-blend);
    background-repeat: repeat;
    background-attachment: fixed;
    image-rendering: pixelated;

    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    margin: 0;
    padding: 0;

    font-family: var(--font-family);
    font-size: medium;
    line-height: var(--line-height);
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    position: relative;
    left: max(min(15rem, 25vw), 7.5rem); /* Match width of aside */
    
    /* Make main content fill viewport width minus width of aside and right margin */
    width: calc(calc(calc(100vw - max(min(15rem, 25vw), 7.5rem)) - min(12rem, 12.5%)));

    min-height: 100vh; /* Fallback if browser doesn't support lvh */
    min-height: 100lvh;

    color: var(--text-color);
    background: var(--fg-color);
    backdrop-filter: var(--fg-filter);
    border-left: var(--fg-border-left-style);
    border-right: var(--fg-border-right-style);

    /*  
        For some reason unbeknownst to me (and maybe even the gods),
        adding at least 1px top padding fixes this from not positioning 
        itself at the very top. 
    */
    padding: 1.5rem 2rem 0 2rem; 
    outline: var(--outline-style);
    outline-offset: var(--outline-offset);
    
    transition: color 0.33s ease;
    transition: background-color 0.33s ease;
    transition: border 0.25s ease;
}

hr {
    border-color: var(--hr-color, var(--secondary-main, white));
    width: 100%;
    border-radius: 1%;
}

::selection {
    background-color: var(--selection-bg-color, black);
    color: var(--selection-text-color, white);
    text-shadow: var(--selection-text-shadow, var(--text-shadow));
}

a {
    color: var(--link-color);
    text-shadow: var(--link-text-shadow);

    transition: color 0.33s ease;
}

a::selection {
    background-color: var(--selection-bg-link-color, var(--selection-bg-color, black));
    color: var(--selection-link-text-color, white);
    text-shadow: var(--selection-link-text-shadow, var(--selection-text-shadow, var(--text-shadow)));
}

aside {
    position: fixed;
    z-index: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    min-width: 7.5rem;
    width: 15rem;
    max-width: 25vw;
    height: 100vh;

    /* Make scrollbar go on left side */
    direction: rtl;
    overflow-y: scroll;
}

.no-js-congrats {
    background: var(--panel-background);
    background-attachment: fixed;
    border-radius: 0.75rem;
        
    font-size: small;
    text-align: center;
    text-wrap: pretty;

    margin: 0.5rem;
    padding: 0.5rem;

    transition: background-color 0.1s ease;
}

/* ========================= *
 *  Aside Menu Toggle Stuff  *
 * ========================= */

.aside-menu-items {
    width: 100%;

    /* Unset rtl from aside */
    direction: ltr;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    gap: 1rem;
}

/* Completely hide this element on desktop */
.aside-menu-toggler {
    width: 0px; height: 0px;
    position: absolute;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* =========================================== *
 *  Theme Selector, Navigation, & Aside Links  *
 * =========================================== */

    .panel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .panel-container .panel-title-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        padding: 0;
        margin: auto;
    }

    .panel-container .panel-title-container .panel-title-background { 
        grid-area: 1 / 1 / 2 / 2;

        background: var(--panel-background);
        background-attachment: fixed;
        border-radius: 0.75rem 0.75rem 0 0;
        
        transition: background-color 0.1s ease;
    }

    .panel-container .panel-title-container .panel-title {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;

        font-size: medium;
        font-weight: normal;
        text-align: center;
        align-self: center;

        width: min-content;
        margin: auto;
        margin-bottom: -0.57em;
        padding: 0.25rem 2rem 0 2rem;
    }

    .panel-container .panel-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        gap: 0.5rem;

        width: 83%;

        margin: 0 0.5rem 0 0.5rem;
        padding: 0.75em;
        padding-top: 1.05em;
        padding-bottom: 0.6em;
        background: var(--panel-background);
        background-attachment: fixed;
        border-radius: 0.75rem;

        transition: background-color 0.1s ease;
    }

    .panel-container fieldset.panel-list {
        min-inline-size: 0; /* Set this to 0 because fieldset is a bitchass mf'er */
        border: none;
    }

    .theme-panel-list {
        border-bottom-left-radius: 0rem !important;
        border-bottom-right-radius: 0rem !important;
    }

    .font-panel-list {
        border-top-left-radius: 0rem !important;
        border-top-right-radius: 0rem !important;
        padding-top: 0 !important; 
    }

    .font-panel-list .panel-title-container { 
        padding-bottom: 0.6em;
    }

    .panel-list .panel-li {
        box-sizing: border-box;
        text-decoration: none;
        color: var(--text-color);
        text-shadow: var(--panel-li-text-shadow);

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        width: 100%;
        height: 2.25rem;

        cursor: pointer;

        background: var(--panel-li-background);

        background-blend-mode: var(--panel-li-background-blend, normal);
        filter: var(--panel-li-background-filter, none);
        border-radius: 0.5rem;
    }

    .panel-li input[type="radio"] {
        /* Hide the actual radio button */
        height: 0px; width: 0px;
        position: absolute;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .panel-li:hover {
        background: var(--panel-li-background-hover);
    }

    .panel-li:has(input:checked) {
        background: var(--panel-li-background-pressed);
    }    

    .panel-li .panel-li-foreground {
        grid-area: 1 / 1 / 2 / 2;

        height: 2.25rem;

        background: var(--panel-li-foreground);
        filter: var(--panel-li-foreground-filter, none);
        border-radius: 0.5rem;
        margin-left: 3px;
        margin-right: 3px;

        transition: margin 0.5s ease;
    }

    .panel-li:hover .panel-li-foreground {
        margin-right: 0.6rem;
        background: var(--panel-li-foreground-hover);
    }

    .panel-li:has(input:checked) .panel-li-foreground {
        margin-right: 0.6rem;
        background: var(--panel-li-foreground-pressed);
    }

    .panel-li .panel-li-img-container {
        grid-area: 1 / 1 / 2 / 2;

        height: 2.25rem;
    }

    .panel-li .panel-li-img-container img {
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        
        margin-left: 0.4rem;
        margin-top: 0.12rem;

        padding-top: 2rem;
    }

    .panel-li .panel-li-name {
        grid-area: 1 / 1 / 2 / 2;

        text-align: center;
        align-self: center;
        user-select: none;
        font-size: medium;
    }

    .panel-li .panel-li-overlay {
        grid-area: 1 / 1 / 2 / 2;
        background: var(--panel-li-overlay);
        background-repeat: var(--panel-li-overlay-repeat);
        mix-blend-mode: var(--panel-li-overlay-mix);
        border-radius: 0.5rem;
        animation: var(--panel-li-overlay-animation);
    }

    @keyframes panel-li-overlay-scroll {
        from {background-position-y: 0px;}
        to {background-position-y: 64px;}
    }


@media screen and (max-width: 767px) {

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    main {
        position: relative;
        left: auto;
        min-height: calc(100vh - 3rem);
        width: auto;

        border-left: none;
        border-right: none;
        border-top: var(--fg-border-left-style);
        border-bottom: var(--fg-border-right-style);

        outline: none;
    }

    /* =================== *
     *  Aside Mobile Menu  *
     * =================== */

    
    aside {
        box-sizing: border-box;
        z-index: auto;
        position: relative;
        height: 56rem;
        height: calc-size(auto); /* calc-size is chrome only for now :( */
        min-width: none;
        width: 100%;
        max-width: none;
        overflow-y: hidden;


        transition: height 0.33s ease;
    }

    aside:has(#aside-toggle:checked) {
        height: 2.5rem; /* This should match the height of the toggler */
    }

    aside:has(#aside-toggle:checked) .aside-menu-toggler {
        border-bottom-width: 0;
    }

    .aside-menu-toggler {
        /* Unset the values that make it hidden for desktop */
        white-space: normal;
        clip-path: none;
        overflow: visible;
        margin: auto;
        padding: auto;

        /* Set styling values */
        box-sizing: border-box;
        width: 100%;
        height: calc(2.5rem + var(--fg-border-width)); /* This should match the height of the aside when closed */
        cursor: pointer;
        user-select: none;
        background: var(--panel-background);
        text-align: center;
        align-content: center;
        font-weight: bold;

        border-top: var(--fg-border-left-style);
        border-bottom: var(--fg-border-right-style);

        transition: border-bottom-width 0.17s ease 0.16s;
    }

    .aside-menu-items {
        width: 100%;
        height: 100%;
        overflow: hidden;

        padding-top: 3.5rem;
    }

    /* Completely hide the actual checkbox */
    #aside-toggle {
        width: 0px; height: 0px;
        position: absolute;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

}