:root:has(#violet:checked) {

    .panel-li-img-container img {
        background-size: 32px;
        background-position: 0px;
        background-repeat: no-repeat;
    }

    #violet-theme-icon {
        background-image: url("/theme/violet/icon/violet.png");
    }

    #nebula-theme-icon {
        background-image: url("/theme/violet/icon/nebula-stars.png");
    }

    #queer-theme-icon {
        background-image: url("/theme/violet/icon/queer-heart.png");
    }

    #frutiger-aero-theme-icon {
        background-image: url("/theme/violet/icon/aero-dolphin.png");
    }

    #index-icon {
        background-image: url("/theme/violet/icon/home.png");
    }

    #games-icon {
        background-image: url("/theme/violet/icon/games.png");
    }

    #mods-icon {
        background-image: url("/theme/violet/icon/mods.png");
    }

    #blog-icon {
        background-image: url("/theme/violet/icon/blog.png");
    }

    #pxbtn-icon {
        background-image: url("/theme/violet/icon/88x31.png");
    }

    #videos-icon {
        background-image: url("/theme/violet/icon/videos.png");
    }

    #lemmy-blahaj-icon {
        background-image: url("/theme/violet/icon/lemmy-blahaj.png");
    }

    #itchio-icon {
        background-image: url("/theme/violet/icon/games-alt.png");
    }

    #code-icon {
        background-image: url("/theme/violet/icon/code.png");
    }

}

:root:has(#spacetiles:checked) {

    .panel-li-img-container img {
        background-size: 32px;
        background-position: 0px;
        background-repeat: no-repeat;
    }

    #violet-theme-icon {
        background-image: url("/theme/iso-cube/violet-cube.png");
    }

    #nebula-theme-icon {
        background-image: url("/theme/iso-cube/nebula-brick.png");
        image-rendering: pixelated !important;
    }

    #queer-theme-icon {
        background-image: url("/theme/iso-cube/queer-cube.png");
    }

    #frutiger-aero-theme-icon {
        background-image: url("/theme/iso-cube/medium-aero-cube.png");
    }

    #index-icon {
        background-image: url("/theme/space/icon/home.png");
    }

    #games-icon {
        background-image: url("/theme/space/icon/games.png");
    }

    #mods-icon {
        background-image: url("/theme/space/icon/mods.png");
    }

    #blog-icon {
        background-image: url("/theme/space/icon/blog.png");
    }

    #pxbtn-icon {
        background-image: url("/theme/space/icon/88x31.png");
    }

    #videos-icon {
        background-image: url("/theme/space/icon/videos.png");
    }

    #lemmy-blahaj-icon {
        background-image: url("/theme/space/icon/lemmy-blahaj.png");
    }

    #itchio-icon {
        background-image: url("/theme/space/icon/games-alt.png");
    }

    #code-icon {
        background-image: url("/theme/space/icon/code.png");
    }

}

:root:has(#queertiles:checked) {

    .panel-li-img-container img {
        background-size: 32px;
        background-position: 0px;
        background-repeat: no-repeat;
    }

    #violet-theme-icon {
        background-image: url("/theme/queer/icon/violet.png");
    }

    #nebula-theme-icon {
        background-image: url("/theme/queer/icon/nebula-stars.png");
    }

    #queer-theme-icon {
        background-image: url("/theme/queer/icon/queer-heart.png");
    }

    #frutiger-aero-theme-icon {
        background-image: url("/theme/queer/icon/aero-dolphin.png");
    }

    #index-icon {
        background-image: url("/theme/queer/icon/home.png");
    }

    #games-icon {
        background-image: url("/theme/queer/icon/games.png");
    }

    #mods-icon {
        background-image: url("/theme/queer/icon/mods.png");
    }

    #blog-icon {
        background-image: url("/theme/queer/icon/blog.png");
    }

    #pxbtn-icon {
        background-image: url("/theme/queer/icon/88x31.png");
    }

    #videos-icon {
        background-image: url("/theme/queer/icon/videos.png");
    }

    #lemmy-blahaj-icon {
        background-image: url("/theme/queer/icon/lemmy-blahaj.png");
    }

    #itchio-icon {
        background-image: url("/theme/queer/icon/games-alt.png");
    }

    #code-icon {
        background-image: url("/theme/queer/icon/code.png");
    }

}

:root:has(#frutigeraero:checked) {

    .panel-li-img-container img {
        background-size: 32px;
        background-position: 0px;
        background-repeat: no-repeat;
    }

    #violet-theme-icon {
        background-image: url("/theme/frutiger-aero/violet-sphere.png");
    }

    #nebula-theme-icon {
        background-image: url("/theme/frutiger-aero/nebula-sphere.png");
    }

    #queer-theme-icon {
        background-image: url("/theme/frutiger-aero/queer-sphere.png");
    }

    #frutiger-aero-theme-icon {
        background-image: url("/theme/frutiger-aero/aero-sphere.png");
    }

    #index-icon {
        background-image: url("/theme/frutiger-aero/icon/home.png");
    }

    #games-icon {
        background-image: url("/theme/frutiger-aero/icon/games.png");
    }

    #mods-icon {
        background-image: url("/theme/frutiger-aero/icon/mods.png");
    }

    #blog-icon {
        background-image: url("/theme/frutiger-aero/icon/blog.png");
    }

    #pxbtn-icon {
        background-image: url("/theme/frutiger-aero/icon/88x31.png");
    }

    #videos-icon {
        background-image: url("/theme/frutiger-aero/icon/videos.png");
    }

    #lemmy-blahaj-icon {
        background-image: url("/theme/frutiger-aero/icon/lemmy-blahaj.png");
    }

    #itchio-icon {
        background-image: url("/theme/frutiger-aero/icon/games-alt.png");
    }

    #code-icon {
        background-image: url("/theme/frutiger-aero/icon/code.png");
    }

}