:root {
    --bg-image: url("/theme/space/SpaceBricksIsoTile.gif");
    --bg-html: rgb(39, 68, 140);;
    --bg-image-size: 176px;

    --fg-color: rgba(29, 44, 128, 0.95);
    --fg-filter: none;
    --fg-border-left-style: 5px solid var(--secondary-main);
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: solid 2.5px var(--secondary-above);
    --outline-offset: 1px;

    --primary-below: #208ba8;
    --primary-main: #44bdbd;
    --primary-above: #84f5e6;

    --secondary-below: #b02e71;
    --secondary-main: #f26f9f;
    --secondary-above: #faafca;
    
    --text-color: #e1faf7;
    --text-shadow: 1px 1px 2px var(--secondary-below);
    --link-color: var(--secondary-above);
    --link-text-shadow: 1px 1px 2px var(--text-shadow);

    --panel-background: rgb(29, 44, 128);
    /* BG */
    --panel-li-background: var(--secondary-main);
    --panel-li-background-hover: var(--panel-li-background);
    --panel-li-background-pressed: var(--secondary-below);
    --panel-li-background-filter: none;
    /* FG */
    --panel-li-foreground: var(--primary-main);
    --panel-li-foreground-hover: var(--panel-li-foreground);
    --panel-li-background-foreground-pressed: var(--panel-li-foreground);
    --panel-li-foreground-filter: none;
    /* OL */
    --panel-li-overlay: none;
    --panel-li-overlay-repeat: repeat;
    --panel-li-overlay-mix: normal;
    --panel-li-overlay-animation: none;
}

:root:has(#spacetiles:checked) {
    --bg-image: url("/theme/space/SpaceBricksIsoTile.gif");
    --bg-html: rgb(39, 68, 140);
    --bg-image-size: 176px;

    --fg-color: rgba(29, 44, 128, 0.95);
    --fg-filter: blur(2px);
    --fg-border-left-style: 5px solid var(--secondary-main);
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: solid 2.5px var(--secondary-above);
    --outline-offset: 1px;

    --primary-below: #208ba8;
    --primary-main: #44bdbd;
    --primary-above: #84f5e6;

    --secondary-below: #b02e71;
    --secondary-main: #f26f9f;
    --secondary-above: #faafca;

    --text-color: #e1faf7;
    --link-color: var(--secondary-main);

    --panel-background: rgb(29, 44, 128);
    --panel-li-background: var(--secondary-main);
    --panel-li-background-pressed: var(--secondary-below);
    --panel-li-background-filter: drop-shadow(-0.08rem 0.08rem 0.15rem rgb(234, 15, 70)) drop-shadow(0.08rem -0.08rem 0.15rem rgb(15, 38, 241));
    --panel-li-foreground: var(--primary-main);
    --panel-li-overlay: url(/theme/space/SpaceLines.png);
    --panel-li-overlay-repeat: repeat;
    --panel-li-overlay-mix: hard-light;
    --panel-li-overlay-animation: panel-li-overlay-scroll 7s linear infinite;
}

:root:has(#queertiles:checked) {
    --bg-image: url("/theme/queer/QueerTilesIso.png");
    --bg-html: #69b3cf;
    --bg-image-size: 176px;

    --fg-color: linear-gradient(90deg,rgba(78, 176, 230, 1) 0%, rgba(78, 176, 230, 1) 20%, rgba(237, 128, 179, 1) 20%, rgba(237, 128, 179, 1) 40%, rgba(247, 240, 235, 1) 40%, rgba(247, 240, 235, 1) 50%, rgba(247, 240, 235, 1) 60%, rgba(237, 128, 179, 1) 60%, rgba(237, 128, 179, 1) 80%, rgba(78, 176, 230, 1) 80%, rgba(78, 176, 230, 1) 100%);
    --fg-border-left-style: 1rem solid var(--secondary-below);
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: none;
    --outline-offset: 0;

    --primary-below: #baa9b0;
    --primary-main: #d1c2c9;
    --primary-above: #f7ebf0;

    --secondary-below: #3b75cc;
    --secondary-main: #4eb0e6;
    --secondary-above: #6ec2f0;

    --text-color: #e1faf7;
    --text-shadow: 1px 1px 0.1rem rgb(4, 3, 23);
    --link-color: var(--secondary-main);
    --link-text-shadow: 1px 1px 0.1rem #0d3167;

    --panel-background: repeating-linear-gradient(286deg, #de2c0dff 0%, #f28518ff 2%, #fcea45ff 3%, #42b61bff 5%, #0c7fe4ff 7%, #6b45deff 9%, #a810daff 11%, #de2c0dff 12%);
    --panel-li-background: var(--secondary-below);
    --panel-li-background-pressed: var(--secondary-below);
    --panel-li-foreground: var(--fg-color);
}

:root:has(#frutigeraero:checked) {
    --bg-image: url("/theme/frutiger-aero/frutiger-aero-background-img/frutiger-aero-background-img.webp");
    --bg-html: linear-gradient(0deg,rgba(39, 116, 244, 1) 0%, rgba(119, 196, 244, 1) 25%, rgba(118, 227, 255, 1) 40%, rgba(138, 231, 255, 1) 50%, rgba(118, 227, 255, 1) 60%, rgba(119, 196, 244, 1) 75%, rgba(39, 116, 244, 1) 100%);
    --bg-image-size: cover;

    --fg-color: rgba(3, 20, 49, 0.228);
    --fg-filter: blur(2px);
    --fg-border-left-style: 0.2rem solid var(--secondary-below);
    --fg-border-right-style: var(--fg-border-left-style);
    --outline-style: none;
    --outline-offset: 0;

    --primary-below: #040b39;
    --primary-main: #11195e;
    --primary-above: #1f2d78;

    --secondary-below: #1661ab;
    --secondary-main: #2084ba;
    --secondary-above: #33a8d6;

    --text-color: #d6f7ff;
    --text-shadow: 1px 1px 0.1rem var(--primary-below);
    --link-color: var(--primary-main);
    --link-text-shadow: 1px 1px 0.1rem var(--secondary-below);;

    --panel-background: rgba(3, 20, 49, 0.228);
    --panel-li-foreground: linear-gradient(0deg,#33a8d6 0%, #2084ba 22%, #1661ab 46%, #1b72b2 52%, #33a8d6 74%, #4bc3f2 97%);
    --panel-li-foreground-hover: var(--panel-li-background-pressed);
    --panel-li-background-foreground-pressed: var(--panel-li-background-pressed);
    
    --panel-li-background: var(--panel-li-foreground);
    --panel-li-background-filter: drop-shadow(-0.02rem 0.02rem 0.05rem #094480) drop-shadow(0.02rem -0.02rem 0.05rem #094480);
    --panel-li-background-pressed: linear-gradient(0deg,#2084ba 0%, #1661ab 22%, #0b4a89 46%, #115e96 52%, #2084ba 74%, #33a8d6 97%);
    --panel-li-background-hover: var(--panel-li-background-pressed);
}

.primary {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;

    font-family: 'DejaVu Sans', sans-serif, system-ui;
    color: var(--text-color);
    text-shadow: var(--text-shadow);
}

.side-margin {
    flex-basis: 7.5rem;
    min-width: 0; /* This prevents the item from pushing on main and shrinking it */
}

/* Screen Reader Only */
.sr-only {
    height: 0px; width: 0px;
    position: absolute;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
    padding: 0;
    margin: 0;
}

html {
    background: var(--bg-html);
    background-image: var(--bg-image);
    background-size: var(--bg-image-size);
    background-repeat: repeat;
    image-rendering: pixelated;
    
    width: 100vw;
    height: 100vh;

    transition: background-color 0.33s ease;
}

main {
    color: var(--text-color);
    background: var(--fg-color);
    backdrop-filter: var(--fg-filter);
    border-left: var(--fg-border-left-style);
    border-right: var(--fg-border-right-style);

    min-height: 100vh; /* Fallback if browser doesn't support lvh */
    min-height: 100lvh;
    flex-grow: 2;

    padding: 0 2rem 0 2rem;
    outline: var(--outline-style);
    outline-offset: var(--outline-offset);

    transition: color 0.33s ease;
    transition: background-color 0.33s ease;
    transition: border 0.25s ease;
    
}

a {
    color: var(--link-color);
    text-shadow: var(--link-text-shadow);

    transition: color 0.33s ease;
}

aside {
    flex-basis: 15rem;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

    min-width: 0; /* This prevents the item from pushing on main and shrinking it */
}

/* ========================= *
 *  Aside Menu Toggle Stuff  *
 * ========================= */

.aside-menu-items {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    gap: 1rem;
}

/* Completely hide this element on desktop */
.aside-menu-toggler {
    width: 0px; height: 0px;
    position: absolute;
    white-space: nowrap;
    clip-path: inset(50%);
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* =========================================== *
 *  Theme Selector, Navigation, & Aside Links  *
 * =========================================== */

    .panel-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .panel-container .panel-title-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        padding: 0;
        margin: auto;
    }

    .panel-container .panel-title-container .panel-title-background { 
        grid-area: 1 / 1 / 2 / 2;

        background: var(--panel-background);
        background-attachment: fixed;
        border-radius: 0.75rem 0.75rem 0 0;
        
        transition: background-color 0.1s ease;
    }

    .panel-container .panel-title-container .panel-title {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 1;

        font-size: medium;
        font-weight: normal;
        text-align: center;
        align-self: center;

        width: min-content;
        margin: auto;
        margin-bottom: -0.57em;
        padding: 0.25rem 2rem 0 2rem;
    }

    .panel-container .panel-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: baseline;
        justify-content: center;
        gap: 0.5rem;

        width: 83%;

        margin: 0 0.5rem 0 0.5rem;
        padding: 0.75em;
        padding-top: 1.05em;
        padding-bottom: 0.6em;
        background: var(--panel-background);
        background-attachment: fixed;
        border-radius: 0.75rem;

        transition: background-color 0.1s ease;
    }

    .panel-container fieldset.panel-list {
        min-inline-size: 0; /* Set this to 0 because fieldset is a bitchass mf'er */
        border: none;
    }

    .panel-list .panel-li {
        box-sizing: border-box;
        text-decoration: none;
        color: var(--text-color);


        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 

        width: 100%;
        height: 2.25rem;

        cursor: pointer;

        background: var(--panel-li-background);
        filter: var(--panel-li-background-filter, none);
        border-radius: 0.5rem;
    }

    .panel-li input[type="radio"] {
        /* Hide the actual radio button */
        height: 0px; width: 0px;
        position: absolute;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
        padding: 0;
        margin: 0;
    }

    .panel-li:hover {
        background: var(--panel-li-background-hover);
    }

    .panel-li:has(input:checked) {
        background: var(--panel-li-background-pressed);
    }    

    .panel-li .panel-li-background {
        grid-area: 1 / 1 / 2 / 2;

        height: 2.25rem;

        background: var(--panel-li-foreground);
        filter: var(--panel-li-foreground-filter, none);
        border-radius: 0.5rem;
        margin-left: 3px;
        margin-right: 3px;

        transition: margin 0.5s ease;
    }

    .panel-li:hover .panel-li-background {
        margin-right: 0.6rem;
        background: var(--panel-li-foreground-hover);
    }

    .panel-li:has(input:checked) .panel-li-background {
        margin-right: 0.6rem;
        background: var(--panel-li-background-foreground-pressed);
    }

    .panel-li .panel-li-img-container {
        grid-area: 1 / 1 / 2 / 2;

        height: 2.25rem;
    }

    .panel-li .panel-li-img-container img {
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        
        margin-left: 0.4rem;
        margin-top: 0.12rem;

        padding-top: 2rem;
    }

    .panel-li .panel-li-name {
        grid-area: 1 / 1 / 2 / 2;

        text-align: center;
        align-self: center;
        user-select: none;
        font-size: medium;
    }

    .panel-li .panel-li-overlay {
        grid-area: 1 / 1 / 2 / 2;
        background: var(--panel-li-overlay);
        background-repeat: var(--panel-li-overlay-repeat);
        mix-blend-mode: var(--panel-li-overlay-mix);
        border-radius: 0.5rem;
        animation: var(--panel-li-overlay-animation);
    }

    @keyframes panel-li-overlay-scroll {
        from {background-position-y: 0px;}
        to {background-position-y: 64px;}
    }




@media screen and (max-width: 767px) {

    .aside-menu-toggler {
        /* Unset the values that make it hidden for desktop */
        position: relative;
        white-space: normal;
        clip-path: none;
        overflow: visible;
        margin: auto;
        padding: auto;

        /* Set styling values */
        width: 100%;
        height: 2.5rem;
        cursor: pointer;
        user-select: none;
        background: var(--panel-background);
        text-align: center;
        align-content: center;
        font-weight: bold;

        border-top: var(--fg-border-left-style);
        border-bottom: var(--fg-border-right-style);
    }

    /* Completely hide the actual checkbox */
    #aside-toggle {
        width: 0px; height: 0px;
        position: absolute;
        white-space: nowrap;
        clip-path: inset(50%);
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .aside-menu-items {
        overflow: hidden;
        height: 45em;
        height: calc-size(auto); /* calc-size is chrome only for now :( */

        transition: height 0.33s ease;
    }

    aside {
        flex-basis: 10%;
    }

    aside:has(#aside-toggle:checked) .aside-menu-items {
        height: 0px;
        margin-top: 0;
        margin-bottom: 0;
    }

    aside:has(#aside-toggle:checked) .aside-menu-toggler{
        border-bottom-width: 0px;
        transition: border-bottom-width 0.33s ease-out;
    }


    .primary {
        flex-direction: column;
    }

    .side-margin {
        flex-basis: 0;
    }

    main {
        border-left: none;
        border-right: none;
        border-top: var(--fg-border-left-style);
        border-bottom: var(--fg-border-right-style);

        outline: none;
    }
}