#violet-theme-icon {
    background-position: 0px -96px;
}

#nebula-theme-icon {
    background-position: -32px -96px;
}

#queer-theme-icon {
    background-position: -64px -96px;
}

#frutiger-aero-theme-icon {
    background-position: 0px -128px;
}

#index-icon {
    background-position: 0px 0px;
}

#games-icon {
    background-position: -32px 0px;
}

#mods-icon {
    background-position: -64px 0px;
}

#blog-icon {
    background-position: 0px -32px;
}

#pxbtn-icon {
    background-position: -32px -32px;
}

#videos-icon {
    background-position: -64px -32px;
}

#lemmy-blahaj-icon {
    background-position: 0px -64px;
}

#itchio-icon {
    background-position: -32px -64px;
}

#code-icon {
    background-position: -64px -64px;
}

:root:has(#violet:checked) {

    .panel-li-img-container img {
        background-image: url("/theme/violet/icon/icon-sheet.png");
        background-size: 96px;
        background-repeat: no-repeat;
    }

}

:root:has(#spacetiles:checked) {

    .panel-li-img-container img {
        background-image: url("/theme/space/icon/icon-sheet.png");
        background-size: 96px;
        background-repeat: no-repeat;
    }

}

:root:has(#queertiles:checked) {

    .panel-li-img-container img {
        background-image: url("/theme/queer/icon/icon-sheet.png");
        background-size: 96px;
        background-repeat: no-repeat;
    }

}

:root:has(#frutigeraero:checked) {

    .panel-li-img-container img {
        background-image: url("/theme/frutiger-aero/icon/icon-sheet.png");
        background-size: 96px;
        background-repeat: no-repeat;
    }

}